
    
    body {
    
        
        background: aqua;
       
    }
    
    
    
    h1{
        color: black;
        margin-top: 40px;
        text-align: center;
        font-size: 32px;
        text-decoration: underline;
    }
    
    
    
    .btn-add{
    
        background-color: orangered;
        color: white;
        padding:6px;
    }
    
    
    
    
        
    
  

  